/*基本*/
body{
    color: #222;
    font-size: 1rem;
}

a{
    color: #0021ff;
    text-decoration:  none;
}

a:visited{
    color: #0021ff;
}

a:hover{
    opacity: .7;
}

ul{
    list-style: none;
    padding: 0;
}

section{
    margin-bottom: 4em;
}

h1{
    background: #0ec5b3;/*背景色*/
    padding: 0.5em;/*文字まわり（上下左右）の余白*/
    margin-bottom: 1em;
    font-size: 1.423em;
}

h1 a{
    color: #fff;
}
h1 a:visited{
    color: #fff;
}

h2{
    padding: 0.5em;/*文字周りの余白*/
    background: #fffae5;/*背景色*/
    border-left: solid 5px #ffe97b;/*左線（実線 太さ 色）*/
    font-size: 1.265em;
}

h3.search-head{
    margin-bottom: .5em;
    font-size: 1.125em;
}

/*
input[type="checkbox"] {
    display: none;
}
*/

/*
input[type="checkbox"]:checked + label {
    background: #00809d;
    color: #fff;
}
*/

/*共通*/
.wrapper-detail {
    padding: 1vh 1.5vw;
    margin-bottom: 3em;
}
.inner-detail {
    padding: 0 0.7vw;
}
.section-mid-width p{
    width: 70%;
}

/*TOP*/
.title{
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.title span{
    font-size: .4em;
    color: #E9F8FF;
    align-self: flex-end;
}

.search-category{
    display: flex;
    column-gap: 1em;
    min-height: 4em;
    border: 1px solid #e3e3e3;
    border-bottom: 0;
}
.search-category:last-of-type{
    border: 1px solid #e3e3e3;
}

.search-head{
    display: flex;
    background: #e3e3e3;
    width: 10%;
    min-width: 7em;
    align-items: center;
    padding-left: 1%;
    font-size: 0.889em;
    margin: 0;
}

.searchtable-row {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
}

ul.date-range {
    display: flex;
}
ul.date-range li:nth-of-type(1) input {
    margin-right: 0.5em;
}
ul.date-range li:nth-of-type(2) input {
    margin-left: 0.5em;
    margin-right: 0;
}

div#table_filter,div#table_length {
    margin-bottom: 0.2em;
}

ul.select-button{
    display: flex;
    gap: 1em;
}

ul.select-button input[type="checkbox"] {
    display: none;
}

ul.select-button input[type="checkbox"]:checked + label{
    background: #00809d;
    color: #fff;
}

ul.select-button label{
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    border: solid 1px #ccc;
    transition: 0.25s;
    padding: 4px 14px;
    cursor: pointer;
    font-size: 0.790em;
    /*margin: 3px;*/
 }

#searchtable{
    margin-bottom: 3em;
}

#searchtable button{
    margin-top: 1em;
}

table#table {
    font-size: .9em;
}

#table thead{
    background-color: #E9F8FF;
}

.bg-yellow{
    background: #ffe97b!important;;
}

.checkmark{
    cursor: pointer;
}

.checkmark:hover svg{
    opacity: .6;
}

/*detail*/
.status{
    font-size: .6em;
    padding-left: .5em;
    color: #ffe97b;
}

.table {
    text-align: center;
}

.detail-delevery-row span {
    margin-right: 1em;
}
p.detail-delevery-row {
    display: flex;
}
p.detail-delevery-row span {
    flex-basis: 30%;
}

/*印刷しない*/
@media print {
    .do-not-print {
      display: none;
    }
  }