
{% load md5url %}
<html>
<head>
  <title>Aichipr Works</title>
  <link rel="stylesheet" type="text/css" href="{% md5url 'css/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
</head>
<body>
  <div class="wrapper-detail">
    <h1 class="title"><a href="">delete Process</a></h1>
    <div class="inner-detail">
      <div class="do-not-print">
        
        <form id="add_process" method="POST">
          {% csrf_token %}
          <div class="search-category">
            <p class="search-head">{{ form.orderNum.label_tag}}</p>
            <p class="searchtable-row"> {{ form.orderNum }} </p>
          </div>
          <ul class="data-range select-button searchtable-row">
            <li class="data-range-item"> {{ form.checkBox_all | safe }} {{ form.checkBox_all.label_tag }}</li>
          </ul>
          <ul class="button_wrapper">
            <li><button id="delete_process_btn" class="search-btn" type="submit">削除</button></li>
          </ul>
        </form>
      </div>
      <p id="process_log">{{ log }}</p>
    </div>
  </div>
</body>
</html>
