
{% load md5url %}
<html>
<head>
  <title>Process</title>
  <link rel="stylesheet" type="text/css" href="{% md5url 'css/style.css' %}" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $(document).ready( function () {
        /*message*/
        $('.show_message_btn').on('click', function(e){
            e.preventDefault();
            $(this).toggleClass('active');
            $('#message_pane').empty();

            if ($(this).hasClass('active')) {
                process_id = $(this).val()

                $.ajax({
                    url: "{% url 'aichiprworks:message_ajax' %}",
                    type: 'POST',
                    data: {'process_id':process_id},
                    dataType: 'json'
                }).done(function(response, TextStatus, jqXHR){
                    if(jqXHR.status === 200){
                        response_list = response['message_json']

                        var title = $('<h3 id=message_title>メッセージ</h3>')
                        $('#message_pane').append(title);

                        response_list.forEach((dic, index) => {
                            var paragraph = $('<p class="message_pane_pid">');
                            paragraph.html(dic.message_text)
                            $('#message_pane').append(paragraph);
                        })
                    }
                    else if(jqXHR.status === 204){
                        //no messages
                        var title = $('<h3 id=message_title>メッセージはありません。</h3>')
                        $('#message_pane').append(title);
                    }
                    
                }).fail(function(jqXHR, textStatus, errorThrown){
                    alert("エラーが発生しました。ステータス：" + jqXHR.status)
                    $('#message_pane').removeClass('active');
                    $('.show_message_btn').text("メッセージ")
                });
                $('#message_pane').addClass('active');
                $(this).text("閉じる")
            } else {
                $('#message_pane').removeClass('active');
                $('.show_message_btn').text("メッセージ")
            }
        });
        /*delete process*/
        $('.process_item').on('click', '.delete_process_btn',function(e){

            if(!confirm('本当に削除しますか？')){
                return;
            }
            
            e.preventDefault();
            process_id = $(this).val()

            $.ajax({
                url: "{% url 'aichiprworks:delete_process_ajax' %}",
                type: 'POST',
                data: {'process_id':process_id},
            }).done(function(response, TextStatus, jqXHR){
                try{
                    alert("削除されました。")
                    /*dom削除*/
                    $('#' + process_id).remove();
                }
                catch(e){
                    // 例外発生時の処理
                    console.log(e)
                }
            }).fail(function(jqXHR, textStatus, errorThrown){
                alert("エラーが発生しました。ステータス：" + jqXHR.status)
            });
        });
        /*move stats*/
        $('.status_btn_wrapper').on('click','.status_btn_before',function(e){
            e.preventDefault();
            process_id = $(this).val()

            $.ajax({
                url: "{% url 'aichiprworks:change_status_ajax' %}",
                type: 'POST',
                data:{ 
                    'process_id':process_id,
                    'offset':-1
                },
            }).done(function(response, TextStatus, jqXHR){
                try{
                    /*dom移動*/
                    process_elem = $('#' + process_id)
                    status_block = $('#status_' + response.result)
                    if (response.result == 1){
                        process_elem.find('.status_btn_before').remove()
                    }
                    else if(response.result == 5){
                        process_elem.find('.status_btn_after').remove()
                    }
                    else{
                        if(process_elem.find('.status_btn_after').length <= 0){
                            after_btn = '<button class="status_btn_after ui-btn" type="button" value="' + process_id + '">></button>'
                            process_elem.find('.status_btn_wrapper li:nth-child(2)').append(after_btn)
                        }
                        delete_btn = process_elem.find('.delete_process_btn')
                        if(delete_btn.length > 0){
                            delete_btn.remove()
                        }
                    }
                    status_block.prepend(process_elem)
                }
                catch(e){
                    // 例外発生時の処理
                    console.log(e)
                }
            }).fail(function(jqXHR, textStatus, errorThrown){
                alert("エラーが発生しました。ステータス：" + jqXHR.status)
            });
        });
        $('.status_btn_wrapper').on('click','.status_btn_after', function(e){
            e.preventDefault();
            process_id = $(this).val()

            $.ajax({
                url: "{% url 'aichiprworks:change_status_ajax' %}",
                type: 'POST',
                data:{ 
                    'process_id':process_id,
                    'offset':1
                },
            }).done(function(response, TextStatus, jqXHR){
                try{
                   /*dom移動*/
                    process_elem = $('#' + process_id)
                    status_block = $('#status_' + response.result)
                    if (response.result == 1){
                        process_elem.find('.status_btn_before').remove()
                    }
                    else if(response.result == 5){
                        process_elem.find('.status_btn_after').remove()
                        if(process_elem.find('.delete_process_btn').length <= 0){
                            delete_btn = '<li><button class="delete_process_btn ui-btn" type="button" value="' + process_id + '">削除</button></li>'
                            process_elem.append(delete_btn)
                        }
                    }
                    else{
                        if(process_elem.find('.status_btn_before').length <= 0){
                            before_btn = '<button class="status_btn_before ui-btn" type="button" value="' + process_id + '"><</button>'
                            process_elem.find('.status_btn_wrapper li:first').append(before_btn)
                        }
                    }
                    status_block.prepend(process_elem)
                }
                catch(e){
                    // 例外発生時の処理
                    console.log(e)
                }
            }).fail(function(jqXHR, textStatus, errorThrown){
                alert("エラーが発生しました。ステータス：" + jqXHR.status)
            });
        });
    });
</script>
</head>
<body>
    <div id="message_pane">
        <p class="message_pane_pid"></p>
    </div>
  <div class="wrapper-detail">
    <h1 class="title"><a href="">Process</a></h1>
    <div class="inner-detail">
        <div id="process_table">
        {% for obj in status %}
            <div class="process_block">
                <h3>{{ obj.status_name }}</h3>
                    {% if obj.status_id == 1 %}
                    <div id="status_1" class="process_block_inner">
                        {% for obj2 in process_new %}
                        <ul id="{{ obj2.process_id }}" class="process_item">
                            <li><a href="{% url 'aichiprworks:editProcess' obj2.process_id %}" target="_blank">ID:{{ obj2.process_id }}</a></li>
                            <li>計画書No:<a href="{% url 'aichiprworks:detail' obj2.order_number %}" target="_blank">{{ obj2.order_number }}</a></li>
                            <li>品名:{{ obj2.process_name }}</li>
                            <li>更新時間:{{ obj2.process_time }}</li>
                            <li>デジタル担当:{{ obj2.employee_id }}</li>
                            <ul class="status_btn_wrapper">
                                <li></li>
                                <li><button class="status_btn_after ui-btn" type="button" value="{{ obj2.process_id }}">></button></li>
                            </ul>
                            <li><button class="show_message_btn ui-btn" type="button" value="{{ obj2.process_id }}">メッセージ</button></li>
                        </ul>
                        {% endfor %}
                    </div>
                    {% elif obj.status_id == 2 %}
                    <div id="status_2" class="process_block_inner">
                        {% for obj2 in process_edit_wait %}
                        <ul id="{{ obj2.process_id }}" class="process_item">
                            <li><a href="{% url 'aichiprworks:editProcess' obj2.process_id %}" target="_blank">ID:{{ obj2.process_id }}</a></li>
                            <li>計画書No:<a href="{% url 'aichiprworks:detail' obj2.order_number %}" target="_blank">{{ obj2.order_number }}</a></li>
                            <li>品名:{{ obj2.process_name }}</li>
                            <li>更新時間:{{ obj2.process_time }}</li>
                            <li>デジタル担当:{{ obj2.employee_id }}</li>
                            <ul class="status_btn_wrapper">
                                <li><button class="status_btn_before ui-btn" type="button" value="{{ obj2.process_id }}"><</button></li>
                                <li><button class="status_btn_after ui-btn" type="button" value="{{ obj2.process_id }}">></button></li>
                            </ul>
                            <li><button class="show_message_btn ui-btn" type="button" value="{{ obj2.process_id }}">メッセージ</button></li>
                        </ul>
                        {% endfor %}
                    </div>
                    {% elif obj.status_id == 3 %}
                    <div id="status_3" class="process_block_inner">
                        {% for obj2 in process_prepress %}
                        <ul id="{{ obj2.process_id }}" class="process_item">
                            <li><a href="{% url 'aichiprworks:editProcess' obj2.process_id %}" target="_blank">ID:{{ obj2.process_id }}</a></li>
                            <li>計画書No:<a href="{% url 'aichiprworks:detail' obj2.order_number %}" target="_blank">{{ obj2.order_number }}</a></li>
                            <li>品名:{{ obj2.process_name }}</li>
                            <li>更新時間:{{ obj2.process_time }}</li>
                            <li>デジタル担当:{{ obj2.employee_id }}</li>
                            <ul class="status_btn_wrapper">
                                <li><button class="status_btn_before ui-btn" type="button" value="{{ obj2.process_id }}"><</button></li>
                                <li><button class="status_btn_after ui-btn" type="button" value="{{ obj2.process_id }}">></button></li>
                            </ul>
                            <li><button class="show_message_btn ui-btn" type="button" value="{{ obj2.process_id }}">メッセージ</button></li>
                        </ul>
                        {% endfor %}
                    </div>
                    {% elif obj.status_id == 4 %}
                    <div id="status_4" class="process_block_inner">
                        {% for obj2 in process_pressed %}
                        <ul id="{{ obj2.process_id }}" class="process_item">
                            <li><a href="{% url 'aichiprworks:editProcess' obj2.process_id %}" target="_blank">ID:{{ obj2.process_id }}</a></li>
                            <li>計画書No:<a href="{% url 'aichiprworks:detail' obj2.order_number %}" target="_blank">{{ obj2.order_number }}</a></li>
                            <li>品名:{{ obj2.process_name }}</li>
                            <li>更新時間:{{ obj2.process_time }}</li>
                            <li>デジタル担当:{{ obj2.employee_id }}</li>
                            <ul class="status_btn_wrapper">
                                <li><button class="status_btn_before ui-btn" type="button" value="{{ obj2.process_id }}"><</button></li>
                                <li><button class="status_btn_after ui-btn" type="button" value="{{ obj2.process_id }}">></button></li>
                            </ul>
                            <li><button class="show_message_btn ui-btn" type="button" value="{{ obj2.process_id }}">メッセージ</button></li>
                        </ul>
                        {% endfor %}
                    </div>
                    {% elif obj.status_id == 5 %}
                    <div id="status_5" class="process_block_inner">
                        {% for obj2 in process_complete %}
                        <ul id="{{ obj2.process_id }}" class="process_item">
                            <li><a href="{% url 'aichiprworks:editProcess' obj2.process_id %}" target="_blank">ID:{{ obj2.process_id }}</a></li>
                            <li>計画書No:<a href="{% url 'aichiprworks:detail' obj2.order_number %}" target="_blank">{{ obj2.order_number }}</a></li>
                            <li>品名:{{ obj2.process_name }}</li>
                            <li>更新時間:{{ obj2.process_time }}</li>
                            <li>デジタル担当:{{ obj2.employee_id }}</li>
                            <ul class="status_btn_wrapper">
                                <li><button class="status_btn_before ui-btn" type="button" value="{{ obj2.process_id }}"><</button></li>
                                <li></li>
                            </ul>
                            <li><button class="show_message_btn ui-btn" type="button" value="{{ obj2.process_id }}">メッセージ</button></li>
                            <li><button class="delete_process_btn ui-btn" type="button" value="{{ obj2.process_id }}">削除</button></li>
                        </ul>
                        {% endfor %}
                    </div>
                    {% endif %}
            </div>
        {% endfor %}
        </div> 
    </div>
  </div>
</body>
</html>