
{% load md5url %}
<html>
<head>
  <title>Aichipr Works</title>
  <link rel="stylesheet" type="text/css" href="{% md5url 'css/style.css' %}" />
  <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script>
      $(document).ready( function () {
        
          $('#table').attr('style', 'width: 100%;');
          $('#table').addClass('cell-border');
          var table = $('#table').DataTable({
            "language": {
              "url": "https://cdn.datatables.net/plug-ins/1.10.16/i18n/Japanese.json"
            },
              displayLength: 25,
              autowidth: false,
              columnDefs: [
              // 1列目を消す(visibleをfalseにすると消えます)
              { targets: 0, visible: false },
              { targets: 4, width: "7%" },
              { targets: 5, width: "12%" },
              { targets: 6, width: "25%" },
              { targets: [7,8,10,11,12], width: "5%" },
              ],
              "order": [[ 2, "desc" ]] ,
          });
          $(window).on('resize', function(){
            table.columns.adjust();
          });

          $(window).on('load',function(){
            $('#loading-overlay').addClass('loaded')
            $('#loading-overlay').removeClass('unloaded')
          });

          $('#search_btn').on('click', function(){
            $('#loading-overlay').addClass('unloaded')
            $('#loading-overlay').removeClass('loaded')
          });

          $("#clear_btn").on('click', function(){
            $("input[type='checkbox']").prop('checked', false)
            $("input[type='text']").val("")
            $("input[type='date']").val("")

          });
      })
  </script>
  <script src="{% md5url 'js/script.js' %}"></script>
  
</head>
<body>
  <div id="loading-overlay">
    <div class="sk-chase">
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
      <div class="sk-chase-dot"></div>
    </div>
  </div>
  <div class="wrapper-detail">
    
    <h1 class="title"><a href="">Aichipr Works</a><span>ver1.0</span></h1>
    <div class="inner-detail">
      <div class="do-not-print">
        
        <form id="searchtable" method="POST">
          {% csrf_token %}
          <div class="search-category">
            <div class="search-head"><p>検索期間<br>（発行日）</p></div>
            <ul class="data-range select-button searchtable-row">
              <li class="data-range-item"> {{ form.checkBox_all | safe }} {{ form.checkBox_all.label_tag }}</li>
              <li class="data-range-item"> {{ form.checkBox_year | safe }} {{ form.checkBox_year.label_tag }}</li>
              <li class="data-range-item"> {{ form.checkBox_half_year | safe }} {{ form.checkBox_half_year.label_tag }}</li>
            </ul>
          </div>
          <div class="search-category">
            <p class="search-head">{{ form.orderNum.label_tag}}</p>
            <p class="searchtable-row"> {{ form.orderNum }} </p>
          </div>
          <div class="search-category">
            <p class="search-head">{{ form.plateDt_start.label_tag }}</p>
            <ul class="date-range searchtable-row">
              <li>{{ form.plateDt_start }}〜</li>
              <li>{{ form.plateDt_end }}</li>
            </ul>
          </div>
          <div class="search-category">
            <p class="search-head">{{ form.printDt_start.label_tag }}</p>
            <ul class="date-range searchtable-row">
              <li>{{ form.printDt_start }}〜</li>
              <li>{{ form.printDt_end }}</li>
            </ul>
          </div>
          <div class="search-category">
            <p class="search-head">制作担当</p>
            <ul class="dijital-team select-button searchtable-row">
              <li>{{ form.checkBox_system | safe }} {{ form.checkBox_system.label_tag }}</li>
              <li>{{ form.checkBox_design | safe }} {{ form.checkBox_design.label_tag }}</li>
              <li>{{ form.checkBox_redbaron | safe }} {{ form.checkBox_redbaron.label_tag }}</li>
              <li>{{ form.checkBox_aeon | safe }} {{ form.checkBox_aeon.label_tag }}</li>
              <li>{{ form.checkBox_gaibu | safe }} {{ form.checkBox_gaibu.label_tag }}</li>
              <li>{{ form.checkBox_outsource | safe }} {{ form.checkBox_outsource.label_tag }}</li>
              <li>{{ form.checkBox_noproduction | safe }} {{ form.checkBox_noproduction.label_tag }}</li>
              <li>{{ form.checkBox_others | safe }} {{ form.checkBox_others.label_tag }}</li>
            </ul>
          </div>
          <div class="search-category">
            <p class="search-head">印刷機</p>
            <ul class="dijital-printer select-button searchtable-row">
              <li>{{ form.checkBox_rinten | safe }} {{ form.checkBox_rinten.label_tag }}</li>
              <li>{{ form.checkBox_kikuzen | safe }} {{ form.checkBox_kikuzen.label_tag }}</li>
              <li>{{ form.checkBox_kikuhan | safe }} {{ form.checkBox_kikuhan.label_tag }}</li>
              <li>{{ form.checkBox_pod | safe }} {{ form.checkBox_pod.label_tag }}</li>
              <li>{{ form.checkBox_inkjet | safe }} {{ form.checkBox_inkjet.label_tag }}</li>
              <li>{{ form.checkBox_print_multi | safe }} {{ form.checkBox_print_multi.label_tag }}</li>
              <li>{{ form.checkBox_print_outsource | safe }} {{ form.checkBox_print_outsource.label_tag }}</li>
              <li>{{ form.checkBox_noprint | safe }} {{ form.checkBox_noprint.label_tag }}</li>
              <li>{{ form.checkBox_futou | safe }} {{ form.checkBox_futou.label_tag }}</li>
              <li>{{ form.checkBox_print_meishi | safe }} {{ form.checkBox_print_meishi.label_tag }}</li>
              <li>{{ form.checkBox_shinohara | safe }} {{ form.checkBox_shinohara.label_tag }}</li>
              <li>{{ form.checkBox_print_others | safe }} {{ form.checkBox_print_others.label_tag }}</li>
            </ul>
          </div>
          <ul class="button_wrapper">
            <li><button id="search_btn" class="search-btn" type="submit">検索</button></li>
            <li><button id="clear_btn" class="clear-btn" type="button">クリア</button></li>
          </ul>
        </form>
      </div>
      {{ table|safe }}
    </div>
  </div>
</body>
</html>
